@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply bg-gradient-to-r from-customPurple-light to-customPurple-dark rounded font-medium;
  }
  .q-mark {
    @apply font-madeTommyOutline font-medium relative;
  }
  .text-xsm {
    @apply text-[13px]
  }
  .input-border {
    @apply bg-customPurple-darker border h-12 w-full border-white rounded-[4px] text-base ;
  }
  /* 2px solid;
  : linear-gradient(180deg, #9A39FF 0%, #FF29B9 100%); */
  .gradient-button:hover {
     border: 2px solid transparent;
  border-radius: 4px;
  background: 
    linear-gradient(to right, #140d27, #140d27), 
    linear-gradient(to right, #9A39FF , #FF29B9); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  }

}